# For setting gameprofile and starting connection verification
public net.minecraft.server.network.ServerLoginPacketListenerImpl startClientVerification(Lcom/mojang/authlib/GameProfile;)V
# For player skin refreshing
public net.minecraft.server.level.ChunkMap$TrackedEntity
# To access skins
public net.minecraft.world.entity.Entity level
